<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <meta charset="utf-8" />
</head>

<body>
    <div>
        Balance of faucet: <%=btcBalance%> BTC
    </div>
</body>
<html>